# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Logs
*.log

# Distribución / empaquetado
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code (config local)
.vscode/

# Sistema
.DS_Store
Thumbs.db
